.card {
  padding: 30px 50px;
  height: 500px;
  /* max-width: 28%; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 15px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7));
}

.card-icon img {
  width: 30px;
  height: 30px;
}

.card-title h3 {
  font-family: var(--font-bold);
  margin-top: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #4d4d4d;
}

.card-content p {
  margin-top: 10px;
  font-size: 16px;
  color: #4d4d4d;
  /* line-height: 14px; */
}

.card-link .button {
  color: #3073f5;
  display: flex;
  align-items: center;
  margin-top: 50px;
  font-size: 15px;
}

.card-button {
  background-color: none;
  display: flex;
  flex-direction: row;
  color: var(--primary-color);
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
  padding: 2px 13px 2px 0;
  gap: 15px;
  position: relative;
  z-index: 999;
  width: max-content;
  height: 55px;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .card {
    max-width: 350px;
    height: 600px;
    padding: 10px 30px;
  }
}
