.process {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #37b7ff;
  padding: 80px 64px;
  position: relative;
}

.process-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.process-title {
  font-size: 36px;
  font-weight: bold;
  color: white;
}

.process-header {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.process-description {
  font-size: 18px;
  font-weight: lighter;
  color: white;
  margin-top: 15px;
}

/* CARD SECTION START */
.report {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 48px;
  position: relative;
  z-index: 1;
}

.report .card {
  max-width: 28%;
}
/* CARD SECTION END */

.bubble-container {
  top: 0;
  left: 0;
}

.bubble-container img {
  width: 335px;
}

@media (max-width: 1300px){

  .card-title h3{
    font-size: 28px;
  }

  .card-content p{
    font-size: 16px;
  }

  #process-card {
    padding-top: 35px;
  }

}


@media (max-width: 900px) {
  .process {
    padding: 0px  
  }

  .process-content {
  width: 100%;
}

  .process-title {
  font-size: 32px;
}

  .report {
    flex-wrap: wrap;
  }

  .report .card {
    max-width: 100%;
    width: 353px;
    height: 520px;
  }

  .bubble-container {
    display: none;
  }
}
