.header {
  background: linear-gradient(180deg, #7ce0ff 0%, #e1efff 53.88%);
  height: 110vh;
}

.header-title {
  margin-top: 10.5%;
  color: #0173c9;
  text-align: center;
  font-family: var(--font-black);
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: 175%; /* 175% */
}

.cloud1 {
  margin-top: 16%;
  margin-left: 10%;
  width: 70%;
}

.elang-flores {
  margin-top: 45%;
  margin-left: 145%;
  width: 29%;
}

.button-elang {
  margin-top: -11.5%;
  margin-left: 138%;
  color: white;
}

.cloud {
  width: 65%;
  margin-top: 20vh;
  margin-left: 140vh;
}

.komodo {
  width: 130%;
  flex-shrink: 0;
  margin-top: 53.4vh;
}

.button-komodo{
  color: white;
  margin-top: 78vh;
  margin-left: 32vh;
}

.button-bajo{
  color: white;
  margin-top: 98vh;
  margin-left: 160vh;
}

.gradient {
  margin-top: 43%;
  height: 26vh;
  background: linear-gradient(180deg, rgba(11, 117, 177, 0) 5.77%, #0b75b1 90%);
}
