.footer {
  background-color: #a8ffff;
  display: flex;
  gap: 60px;
}

.footer-hashtag {
  padding-top: 70px;
  padding-left: 100px;
}

.footer-hashtag h5 {
  color: #1e1e1e;
  font-family: var(--font-footer);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.footer-hashtag h1 {
  color: #1e1e1e;
  font-size: 48px;
  margin-top: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; 
  font-family: var(--font-footer);
}

.footer-image {
  display: flex;
  width: 800px;
  margin-top: 65px;
  margin-bottom: -5px;
  position: relative;
}

.footer-turtle {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 20px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
}

.footer-info {
  display: flex;
  gap: 80px;
  font-size: 18px;
}

.footer-contact {
  width: 40%;
}

.footer-contact p {
  margin-top: 15px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-copyright {
  margin-top: 60px;
}
